*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --letras-nav:black;
    margin-top: 10px;
}
#imagem-titulo{
    height: 100px;
    margin: auto;
    display: flex;
    border-radius: 8px;
}
#titulo{
    text-align: center;
    font-size: 1.2em;
    color: #234BB8;
}
#nav{
    margin-left: -3%;
}
#nav>ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    width: 70%;
    margin:15px auto;
    text-align: center;
}
ul>li{
    border-left: 2px solid black;
}
#ultimo-link{
    border-right: 2px solid black;
}
.link-nav{
    color: var(--letras-nav);
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.link-nav:hover{
    color: rgb(94, 94, 94);
}
#separar{
    height: 1.2px;
    width: 90%;
    margin: auto;
    background-color: black;
}
